/* Root del modal */
.modal-root {
    -fx-background-color: white;
    -fx-padding: 30;
    -fx-background-radius: 12;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 20, 0.2, 0, 4);
}

/* Caja del texto */
.terms-container {
    -fx-background-radius: 8;
    -fx-pref-width: 700;
    -fx-pref-height: 280;
}

/* ScrollPane limpio */
.terms-scroll {
    -fx-background-color: #F9F9F9;
    -fx-border-color: #F9F9F9;
}

/* Texto */
.terms-content {
    -fx-padding: 20;
}

.terms-text {
    -fx-background-color: #F9F9F9;
    -fx-font-size: 16px;
    -fx-line-spacing: 4px;
}
