/* ROOT */
.sidebar-root {
    -fx-background-color: #F5F9FC;
    -fx-padding: 20;
}

/* HEADER */
.sidebar-header {
    -fx-padding: 8 10;
}

.sidebar-app-icon {
    -fx-font-size: 18px;
}

.sidebar-app-name {
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}

/* ITEMS */
.sidebar-item {
    -fx-background-color: transparent;
    -fx-text-fill: #1F2D3D;
    -fx-font-size: 13px;
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 8 10;
    -fx-cursor: hand;
}

.sidebar-item:hover {
    -fx-background-color: #E6F0F5;
}

.sidebar-item.active {
    -fx-background-color: #D9EBF3;
    -fx-font-weight: bold;
}


/* FOOTER */
.sidebar-footer {
    -fx-padding: 8 10;
    -fx-cursor: hand;
    -fx-background-radius: 12;
}

.sidebar-footer:hover{
    -fx-background-color: #D9EBF3;
}

.sidebar-footer.active {
    -fx-background-color: #D9EBF3;
}

.sidebar-footer-container {
    padding-top: 20px;
}

.sidebar-collapse-btn {
    -fx-background-color: transparent;
    -fx-padding: 8 10;
    -fx-cursor: hand;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
}

.sidebar-collapse-btn:hover {
    -fx-background-color: #E6EEF6;
}

.sidebar-collapse-icon {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}


/* Avatar circular sidebar footer */
.sidebar-avatar {
    -fx-min-width: 36px;
    -fx-min-height: 36px;
    -fx-max-width: 36px;
    -fx-max-height: 36px;
    -fx-background-radius: 18;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.20), 6, 0, 0, 2);
}

.sidebar-user-name {
    -fx-font-weight: bold;
    -fx-font-size: 12px;
}

.sidebar-profile-link {
    -fx-font-size: 11px;
    -fx-text-fill: #3B8EA5;
    -fx-cursor: hand;
    -fx-border-color: transparent;
}

.sidebar-profile-link:hover{
    -fx-background-color: #D9EBF3;
}
.sidebar-profile-link.active {
    -fx-background-color: #D9EBF3;
}

.sidebar-profile-link:focused,
.sidebar-profile-link.active,
.sidebar-profile-link:pressed,
.sidebar-profile-link:visited,
.sidebar-profile-link:hover {
    -fx-underline: false;
}
